@import "tailwindcss";

@theme {
  --color-bg: #F5F5F5;
  --color-bg-secondary: #E3E3E3;
  --color-bg-secondary-hover: #C9C9C9;
  --color-bg-tertiary: #262C36;
--color-text-primary: #000000;
--color-text-secondary: #9198A1;
--color-green-primary: #0F8A3B;         /* verde escuro */
--color-green-primary-hover: #16A04A;  /* hover levemente mais claro */

  --color-line: #3D444D;
  --color-purple-primary: #34A853;
  --color-purple-secondary: #0D47A1;
  --color-green-logo: #00FF44;
}
.btn-green {
  @apply bg-purple-primary text-white px-4 py-2 rounded-lg font-semibold transition-all shadow-sm hover:brightness-110 hover:shadow-md;
}

.header-strong {
  @apply text-2xl font-bold text-text-primary pb-2;
}
.card-modern {
  @apply bg-bg-secondary border border-line rounded-2xl p-5 shadow-md 
         transition-all cursor-pointer flex flex-col 
         hover:shadow-xl hover:-translate-y-1 hover:scale-[1.01];
}
.card-modern:hover {
  background-color: #dcdcdc; /* cinza claro mais bonito que o bg-secondary-hover */
  border-color: var(--color-purple-primary);
}
/* Botão de editar — azul */
.btn-edit {
  @apply bg-purple-secondary text-white font-medium 
         py-2 px-4 rounded-md cursor-pointer transition-colors;
}

.btn-edit:hover {
  background-color: #1565C0; /* azul mais claro */
}

